<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <%- include("./navbar") %>
    <h1><%= title %></h1>
    <p><b>User:</b> <%= message.username %></p>
    <p><b>Message:</b> <%= message.message %></p>
    <p><b>Added on:</b> <%= message.date %></p>
  </body>
</html>
